[Unit]
Description=Grafana Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop grafana
ExecStartPre=-/usr/bin/docker rm grafana
ExecStart=/usr/bin/docker run --rm -p 3000:3000 --name=grafana -v /data/docker/grafana/data:/var/lib/grafana grafana/grafana
ExecStop=/usr/bin/docker stop grafana

[Install]
WantedBy=multi-user.target
