[Unit]
Description=Grafana Service
After=docker.service
Requires=docker.service
ConditionFileNotEmpty=/data/docker/conf/nodes.env

[Service]
EnvironmentFile=/data/docker/conf/nodes.env
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker -H 0.0.0.0:2375 stop ${NODENAME}
ExecStartPre=-/usr/bin/docker -H 0.0.0.0:2375 rm ${NODENAME}
ExecStart=/usr/bin/docker -H 0.0.0.0:2375 run  --rm --name ${NODENAME}  -v /data/docker/${NODENAME}-${ENVIRONMENT}/dashboards:/data/dashboards -v /data/docker/${NODENAME}-${ENVIRONMENT}/etc:/etc/grafana -v /data/docker/${NODENAME}-${ENVIRONMENT}/lib:/var/lib/grafana ${IMGNAME}
ExecStop=/usr/bin/docker stop grafana

[Install]
WantedBy=multi-user.target
