[Unit]
Description=Homeassistant Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/data/docker/conf/nodes.env
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %N
ExecStartPre=-/usr/bin/docker rm %N
ExecStart=/usr/bin/docker run --rm --name=%N -v /data/docker/%N/data:/config -v /etc/localtime:/etc/localtime:ro --net=host ${IMGNAME}

[Install]
WantedBy=multi-user.target
