[Unit]
Description=Homeassistant Service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/data/docker/conf/nodes.env
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker -H 0.0.0.0:2375 stop ${NODENAME}
ExecStartPre=-/usr/bin/docker -H 0.0.0.0:2375 rm ${NODENAME}
ExecStart=/usr/bin/docker -H 0.0.0.0:2375 run  --rm --name ${NODENAME} --net=host -v /data/docker/${NODENAME}-${ENVIRONMENT}/data:/config -v /etc/localtime:/etc/localtime:ro ${IMGNAME}
ExecStop=/usr/bin/docker stop %N

[Install]
WantedBy=multi-user.target
