[Unit]
Description=influxdb Service
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop influxdb
ExecStartPre=-/usr/bin/docker rm influxdb
ExecStart=/usr/bin/docker run  --rm --name influxdb -p 8086:8086 -v /data/docker/influxdb/data:/var/lib/influxdb ${IMGNAME}
ExecStop=/usr/bin/docker stop influxdb

[Install]
WantedBy=multi-user.target
